<div class="h-96 w-96 bg-blue-300 shadow-lg fixed right-6 -bottom-96 transition-all duration-700 rounded-lg" id="chatbox">
    <button class="font-bold border-2 ml-80 w-10 bg-red-500 border-red-500 text-white mt-4 transition duration-500 ease-in-out hover:bg-red-600 transform hover:-translate-y-1 hover:scale-110 ...">X</button>
    <h1 class="ml-12">Chat Up With Admin</h1>
    <div class="flex">
        <textarea rows="1" class="border-gray-400 border-2 mt-64 ml-5 rounded-lg px-2 w-72" placeholder="Type Your Text here"></textarea>
        <button class="mt-64 ml-5 border-2 w-15 h-10 rounded-lg bg-blue-900 border-blue-900 text-black hover:text-white">
            <i class="fa fa-paper-plane"></i>
        </button>
    </div>
</div>
<style>
    .open_chat{
        bottom: 0 !important;
    }
</style>